.status-bar-chat {
  background-color: var(--chat-background-color);
}
.alt-header-chat {
  background-color: var(--chat-background-color);
}
.main-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  margin: var(--main-margin);
  border: var(--main-border);
  width: var(--main-width);
  padding: var(--main-padding);
  background-color: var(--chat-background-color);

  border-bottom: var(--user-component-border-bottom);
  padding-top: 0px;
  padding-bottom: 0px;
}
.chat__timestamp {
  z-index: 3;
  margin-bottom: 25px;
  border-radius: 18px;
  background-color: #92a4b2;
  padding: 10px;
  color: white;
  font-size: 15px;
}
.message-row__response {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  margin-bottom: 30px;
  width: 100%;
}
.message-row__own {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;

  margin-bottom: 30px;
  width: 100%;
}
.message-row__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.message-row img {
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 40%;
}
.message__author {
  margin-bottom: 20px;
}
.message__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: nowrap;

  width: 100%;
}
.message-row__own > .message-row__content > .message__info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.message__bubble {
  margin-right: 5px;
  border-radius: 13px;
  border-top-left-radius: 0px;
  background-color: white;
  color: black;
  padding: 8px 10px;
  font-size: 20px;
  font-weight: 600px;
}
.message__bubble__owner {
  margin-right: 5px;
  border-radius: 13px;
  border-top-right-radius: 0px;
  background-color: white;
  color: black;
  padding: 8px 10px;
  font-size: 20px;
  font-weight: 600px;
}
.message__time {
  padding: 0 10px;
}
.message-row-last {
  padding-bottom: 700px;
}
.reply {
  position: absolute;
  top: 1006px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  margin: var(--main-margin);
  border: var(--main-border);
  width: var(--main-width);
  padding: var(--main-padding);
  background-color: var(--chat-background-color);

  border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
  border-bottom: var(--user-component-border-bottom);
  padding-top: 15px;
  padding-bottom: 25px;
  color: rgba(0, 0, 0, 0.5);

  transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  position: relative;
  width: 90%;
}
.reply i {
  opacity: 0.5;
}
.reply input {
  width: 100%;
  height: 30px;
  border: var(--input-border);
  border-radius: 20px;
  padding-left: 10px;

  transition: all 0.3s ease-in-out;
}
.reply__column:last-child > span,
.reply__column:last-child > button {
  position: absolute;
  top: 1px;
  right: -11px;
}
.reply__column:last-child > span {
  top: 9px;
  right: 30px;
}
.reply__column button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: var(--yellow);
}
.reply__column button i {
  opacity: 1;
}
.reply__column button:fucus,
.reply__column button:active {
  outline: none;
}
.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}
.reply:focus-within {
  transform: translateY(20px);
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}
.reply input:focus {
  width: 90vw;
  transform: translateX(-67px) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
