.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  margin: var(--main-margin);
  border: var(--main-border);
  width: var(--main-width);
  padding: var(--sub-padding);
  background-color: var(--main-background-color);

  padding-top: 90px;
  padding-bottom: 60px;
}
.welcome-header__title {
  font-size: var(--main-font-size-4l);
}
.welcome-header__text {
  text-align: center;
  font-size: var(--main-font-size-small);
  opacity: 0.45;
  line-height: 1.3;
}
#login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  margin: var(--main-margin);
  border: var(--main-border);
  border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
  width: var(--main-width);
  padding: var(--sub-padding);
  background-color: var(--main-background-color);

  padding-bottom: 280px;
}
#login-form input {
  border: none;
  padding: 20px 0px;
  font-size: 32px;
}
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  transition: border-color 0.5s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input[type="submit"] {
  margin-top: 60px;
  width: 85%;
  border: none;
  border-radius: 30px;
  padding: 28px 0px;
  background-color: var(--input-button-color);
  font-size: 28px;
  cursor: pointer;
}
#login-form input:focus:not([type="submit"]) {
  border-bottom: 4px solid var(--input-border-bottom);
}
#login-form a {
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: var(--main-font-size-small);
  cursor: pointer;
}
