.icon-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;

  border-bottom: var(--border-bottom);
  padding: 20px 0 30px 0;
  width: 100%;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;

  width: 100px;
}
.icon-row__icon i {
  padding-bottom: 30px;
}
.icon-row__icon span {
  text-align: center;
  font-size: var(--main-font-size-small);
}
